<footer class="footer">
  <div class="container text-center">
    <a class="cc-github btn btn-link " href="https://github.com/ShafiqurRohman" target="_blank">
      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/shafiqur-rohman/" target="_blank">
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/shafiqur.me" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-twitter btn btn-link " href="https://twitter.com/shafiqur_me" target="_blank">
      <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
    </a>
  </div>
  <div class="text-center text-muted">
    <p>
      &copy; Shafiqur.me
    </p>
    <p>
      Develop by <a href="https://shafiqur.me" target="_blank">Shafiqur Rohman</a>
    </p>
  </div>
</footer>
