<div class="section" id="about">
  <div class="container">
    <div class="h4 text-center mb-4 title">About Me</div>
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Introduction</div>
            <p>{{aboutMe}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-0">
              <div class="col-sm-12 shafiq">
                <span class="text-uppercase"><img src="https://img.icons8.com/color/30/null/age.png" /> <span style="padding-left:2em"> {{basicInfo.age}}</span></span>
              </div>
              
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <span><img src="https://img.icons8.com/fluency/30/null/composing-mail.png" /><a href="mailto:{{basicInfo.mail}}"><span style="padding-left:2em">{{basicInfo.mail}}</span></a></span>
              </div>
              
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <span class="text-uppercase"><img src="https://img.icons8.com/color/30/null/ringer-volume.png" /><span style="padding-left:2em">{{basicInfo.phone}}</span></span>
              </div>
             
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <span class="text-uppercase"><img src="https://img.icons8.com/fluency/30/null/location.png" /><span style="padding-left:2em">{{basicInfo.address}}</span></span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <span class="text-uppercase"><img src="https://img.icons8.com/fluency/30/null/language.png" /><span style="padding-left:2em">{{basicInfo.language}}</span></span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
