<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-color: black">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="assets/images/shafiq.jpg" alt="Image" />
            </a>
          </div>
          <h1 class="h2 title">Md Shafiqur Rohman</h1>
          <p class="category text-white">I am A <span class="typed"></span></p>
          <a class="btn btn-primary" href={{cvUrl}} target="_blank" data-aos="zoom-in"
             data-aos-anchor="data-aos-anchor">RESUME</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a class="btn btn-default btn-round btn-lg btn-icon"
               href="https://www.linkedin.com/in/shafiqur-rohman/" target="_blank" rel="tooltip"
               title="Follow me on Linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/ShafiqurRohman" target="_blank"
               rel="tooltip" title="Follow me on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/shafiqur.me"
               target="_blank" rel="tooltip" title="Follow me on Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/shafiqur_me"
               target="_blank" rel="tooltip" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
