<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Technical SkillS</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          
          <div class="col-md-4" >
            <div class="progress-container progress-primary">
              <span class="text-center mb-4 title" style="color: #1f3822">Language</span>
             </div>
            <div *ngFor="let language of languages" class="progress-container progress-primary">
              <span class="progress-badge" style="font-weight:bold">{{language.skill}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{language.progress}}"></div>
                <span class="progress-value">{{language.progress}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
           <div class="progress-container progress-primary">
             <span class="text-center mb-4 title" style="color: #1f3822">Web Prgramming & Framwork</span>
          </div>
            <div *ngFor="let framework of frameworks" class="progress-container progress-primary">
              <span class="progress-badge" style="font-weight:bold">{{framework.skill}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{framework.progress }}"></div>
                <span class="progress-value">{{framework.progress}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="progress-container progress-primary">
              <span class="text-center mb-4 title" style="color: #1f3822">Version Control & Tools</span>
            </div>
            <div *ngFor="let tool of tools" class="progress-container progress-primary">
              <span class="progress-badge" style="font-weight:bold">{{tool.skill}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{tool.progress}}"></div>
                <span class="progress-value">{{tool.progress}}</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
