<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Technical SkillS</div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          
          <div class="col-md-4" >
            <div class="progress-container progress-primary">
              <span class="text-center mb-4 title headline">Language</span>
             </div>
            <div *ngFor="let language of languages" class="progress-container progress-primary">
                  <span><img src="{{language.imageUrl}}" /></span>
                  <span class="language-text">{{language.skill}}</span>
            </div>
          </div>

          <div class="col-md-4">
           <div class="progress-container progress-primary">
             <span class="text-center mb-4 title headline" >Web Technology & DataBase</span>
          </div>
           <div *ngFor="let framework of frameworks" class="progress-container progress-primary">
               <span><img src="{{framework.imageUrl}}" /></span>
               <span class="language-text">{{framework.skill}}</span>
           </div>
          </div>

          <div class="col-md-4">
            <div class="progress-container progress-primary">
              <span class="text-center mb-4 title headline" >Git & Tools</span>
            </div>
            <div *ngFor="let tool of tools" class="progress-container progress-primary">
                <span><img src="{{tool.imageUrl}}" /></span>
                <span class="language-text">{{tool.skill}}</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
